<% content_for(:title, @industry_taxonomy) %>

<div class="container my-4">

  <div class="border p-4 my-4">
    <p>
    <strong>Name:</strong>
    <%= @industry_taxonomy.name %>
    </p>

    <p>
    <strong>Parent:</strong>
    <%= @industry_taxonomy.parent_id %>
    </p>

    <%= link_to 'Edit', edit_industry_taxonomy_path(@industry_taxonomy) %>
  </div>

  <%= render @industry_taxonomy.companies %>
</div>
