<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Make Works</h1>
    <p>Hello, <%= @user %>!</p>
    <p>
      You have successfully signed up to <a href="https://make.works">https://make.works</a>
    </p>
    <p>
      To login to the site, just follow this link: <a href="https://make.works/users/sign_in" target="_blank">https://make.works/users/sign_in</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
