<div class="container bg-light border my-5 p-5">
  <%= title 'Editing User' %>

  <%= render 'form', user: @user %>

  <hr>

  <%= render 'user_regions' %>

  <hr>

  <%= link_to "Delete my account!",
    admin_destroy_user_path(current_user),
    method: :delete,
    data: { confirm: "You sure?" },
    class: 'btn btn-danger float-right' %>

</div>
