<div class="container mw-border-50 my-5 p-5">
  <%= title 'Editing User' %>

  <%= render 'form', user: @user %>

  <hr>

  <%= render 'user_regions' %>

  <hr>

  <div class="text-end">
    <%= link_to "Delete my account!",
      admin_destroy_user_path(current_user),
      method: :delete,
      data: { confirm: "You sure?" },
      class: 'btn btn-danger mb-5' %>
  </div>

</div>
