<%= title t('shared.saved_companies') %>

<% if current_user.favorite_companies.blank? %>
  <div class="card card-body my-5 p-5 text-center">
    <h3 class="mb-4">Start exploring companies</h3>
    <p>Save your favorite companies to check and contact later the
    ones that suits best for your project.</p>

    <div class="d-flex justify-content-center my-4">
      <%= link_to companies_url, class: 'btn btn-blue d-block' do %>
        See all companies
        <i class="bi bi-arrow-right"></i>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <% current_user.favorite_companies.each do |company| %>
    <%= render partial: 'companies/company', locals: { company: company.company } %>
  <% end %>
</div>
