<div class="">
  <%= title 'About Make Works' %>
  <p>
  Make Works are making manufacturing accessible.
  Think of it like a public library.
  An open resource made by dedicated factory finders where you can discover skilled manufacturers,
  tools and materials to make work with in your area.
  </p>

</div>


<div class="row mt-5">
  <div class="col-md-6 border border-dark p-5">
    <h2>Make Works Story</h2>
    <h3>How everything started</h3>

  </div>

  <div class="col-md-6 tile-right p-5">
    <h3>2020</h3>
    <p>
    Make Works was founded by Fi Scott whilst studying Product Design at Glasgow School of Art. The idea developed working in a wood, cork and furniture workshop in Brooklyn, NY with Daniel Michalik. Here, she realised the value, power and importance of making.
    </p>

    <h3>2018</h3>
    <p>
    Returning to Scotland, Fi was frustrated with not being able to find the practical means of getting things made. She scraped the internet, finding outdated manufacturing websites and a web of confusing engineering and industry jargon.
    </p>

    <h3>2017</h3>
    <p>
    Make Works was researched and tested as a design proposal in Fi's final year at art school, which meant that Fi tumbled out of her degree show with a plan to get going. When she graduated, she worked from a borrowed desk in MAKLab, Glasgow for six months - figuring out how to get the idea off the ground.
    </p>

    <h3>2016</h3>
    <p>
    After six months of filling out public funding applications (and being knocked back from each and every one) - Fi decided to get on the road and prove that industry in Scotland really did still exist. She called up Ben Dawson, a furniture maker she had worked for in high school, and asked if she could borrow his VW camper van. She then asked designer Vana Coleman and photographer Ross Fraser Mclean to join her on the road.
    </p>

  </div>

</div>
