<div class="row border-top border-dark pt-4">
  <div class="col p-5">
    <h1>About Make Works</h1>
    <p>
    Make Works are making manufacturing accessible.
    Think of it like a public library.
    An open resource made by dedicated factory finders where you can discover skilled manufacturers,
    tools and materials to make work with in your area.
    </p>

    <%= link_to "Find out more", "/" %>
  </div>
</div>
