<div class="aboutheader text-center">
  <div class='text-white text-center' style="padding-top: 240px;">
    <%= title 'About Make Works' %>

    <p class="mx-auto" style="max-width: 700px">
    Make Works are making manufacturing accessible.
    Think of it like a public library.
    An open resource made by dedicated factory finders where you can discover skilled manufacturers,
    tools and materials to make work with in your area.
    </p>

  </div>
</div>


<div class="container-xxl mt-5">
  <h3 class="my-5">
    Make Works is a global library for local manufacturing, connecting people who want to make with people who do. We aim for free and accessible fabrication for artists, designers and makers.
    Make Works consists of multiple <i>regions</i> each lead by community champions in collaboration with local partners. We believe in distributed teams and collaborative governance.
  </h3>

  <%= render partial: 'region_map', locals: { locations: Region.with_lat_lng } if Region.with_lat_lng.present? %>

  <div class="row my-5">
    <div class="col-md-6">
      <p>
      Make Works partners with individuals and organisations across the UK and beyond who want to run their own open-access directory of manufacturing for their local area.
      Our partners aren't just people using our platform - they are fellow manufacturing geeks who are passionate about local manufacturing from perspectives including creativity, sustainability, economy.

      More recently, in 2019, Make Works has been transferred to the <a href="https://iaac.net/">The Institute of Advanced Architecture of Catalonia</a> (IAAC), <a href="https://fablabbcn.org/">Fab City Research Lab Barcelona</a>, and sits within Fab City’s <a href="https://distributeddesign.eu/">Distributed Design Platform</a>, funded by Creative Europe.
      </p>
    </div>
    <div class="col-md-6">
      <h4>You want to know more?</h4>
      <p class="my-4">Check out our regions to find out about new listings, latest news, local partners and events. You want to start your own Region? Visit our <a href="https://flbcn.gitbook.io/make-works/">guide book</a> and get in touch with us via make.works@fablabbcn.org</p>
      <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownRegions2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Regions list
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownRegions2">
          <% @public_regions.each do |region| %>
            <%= link_to region.name, region, class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h2>What?</h2>
      <p>Make Works is a global library for local manufacturing, where you can search by material, process or by factory name to find someone to help you bring your ideas to life. We host and verify manufacturers, fabricators and factories of all shapes and sizes through recommendations from people like you, and through our teams on the ground.</p>
    </div>

    <div class="col-md-6">
      <h2>How?</h2>
      <p>You can search or browse for manufacturing processes, materials, machinery or equipment you need. This might be for a design brief, new artwork, a hardware product, outfitting a shop, props or set for a show, or just something for your home - anything physical you need to make or repair. Once you have found a factory that suits you, get directly in touch to start making.</p>
    </div>

    <div class="col-md-6">
      <h2>Why?</h2>
      <p>Local manufacturing is better for the environment, sustains local economies and supports communities. Make Works is open and accessible, connecting people directly to making and repairing things, democratising access to production and investing in local economies, skills and community. We sit within the <a href="https://fab.city/">Fab City Global Initiative</a> which is enabling a shift away from the industrial paradigm of Product-in Trash-out, by enabling the return of manufacture to cities supported by a Data-In Data-out urban model.</p>
      <p>We want to make making easier, accessible and local.</p>
    </div>

    <div class="col-md-6">
      <h2>For who?</h2>
      <p>Make Works is for everyone, whether you want to get a one-off bespoke item made, a product designer exploring new materials, or a small business looking to outsource your manufacturing. We’ll be able to help you learn about and navigate your local manufacturers.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-6">
      <h2>Make Works Story</h2>
      <h3>How everything started</h3>

      <div class="mt-4" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/68720549?h=c0b448f96e" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>

    <div class="col-md-6">
      <h3>2011</h3>
      <p>
      Fi Scott starts mapping of manufacturing in Glasgow, Scotland.
      </p>

      <h3>2012</h3>
      <p>
      Fi Scott researched and tested Make Works as a design proposal in the final year of her BA Product Design at The Glasgow School of Art, developing a plan for Make Works.
      </p>
      <img class="img-fluid" src="http://static.make.works/othermedia/make_works_general/images_for_website_update/940px/010515MakeWorks_images_for_website_updateNA12.jpeg" alt="Make Works"/>
      <h3 class="mt-3">2013</h3>
      <p>
      Make Works Tour maps makers and manufacturers across Scotland, with eight artists and designers joining as residents.
      </p>

      <img class="img-fluid" src="http://static.make.works/othermedia/make_works_general/images_for_website_update/940px/010515MakeWorks_images_for_website_updateNA13.jpeg" alt="Make Works"/>
      <h3 class="mt-3">2014</h3>
      <p>
      Make Works platform developed and built, with a prototype launched in June 2014. 

      Make Works joined Seedcamp accelerator programme in August 2014. 

      Make Works concept shared globally via talks and events.
      </p>

      <h3>2015</h3>
      <p>
      Make Works development continues.

      Designers and manufacturers residency programme in partnership with Hospitalfield, Arbroath, Scotland.

      Maker Speed Daters and Make Works Christmas Quiz commences.
      </p>

      <img class="img-fluid" src="http://static.make.works/othermedia/blog/2015Roundup/940px/010116MakeWorks_2015_Roundup6.jpeg" alt="Make Works"/>

      <p class="mt-2">
      Make Works left the Seedcamp accelerator programme in June 2015 and began work on making Make Works self-sustaining as a non-profit.

      With Open Work, experimented with using and browsing the Make Works dataset in October 2015.
      </p>

      <h3>2016</h3>
      <p>
      Make Works platform opened up so new regions could start their own open-access local manufacturing directories. Make Works Birmingham launched March 2016.
      </p>

      <h3>2017</h3>
      <p>
      New Make Works regions launched in Sweden in October 2017 and the UAE in November 2017.
      Factory residency programme in partnership with Dundee Design Festival.
      <br>
      With Rectangle design studio launched the Make Works extension, an alternative manufacturing plug in for the IKEA website.
      </p>

      <h3>2018</h3>
      <p>
      Make Works Derby and Derbyshire launched.
      </p>

      <h3>2019</h3>
      <p>
      Make Works has been transferred to the <a href="https://iaac.net/">The Institute of Advanced Architecture of Catalonia</a> (IAAC), <a href="https://fablabbcn.org/">Fab City Research Lab Barcelona</a>, and sits within Fab City’s <a href="https://distributeddesign.eu/">Distributed Design Platform</a>, funded by Creative Europe.
      </p>

      <p>
      You want to know more? Read the whole Make Works story in our <a href="https://make.works/blog">Stories</a>
      </p>

    </div>

  </div>
</div>
