<%= title 'How to contact Make Works?' %>

<h4>
  There are many ways to reach us!
  Please review our <%= link_to "FAQs", faq_url %>, we are a big community and many questions have already been asked, maybe your answer can be found there.
  In case you were not able to find your answers in the <%= link_to "FAQ section", faq_url %>, feel free to contact us!
  <br>
  We are happy to help wherever we can.
  <br>
  <br>
  You can reach us here via email: <a href="mailto:make.works@fablabbcn.org">make.works@fablabbcn.org</a>
</h4>


<h5 class="mt-5">
Make Works consists of regions. Each region will be able to give you local support. Here you will find your region specific contact person who can help you on your quest
</h5>


<section class="row mt-5">

  <% @public_regions.each do |region| %>

    <%= render region %>

  <% end %>

</section>
