<%= title 'FAQ' %>


<div class="row mt-4">
  <div class="col-md-6">
    <h2>The Basics</h2>
    <p>
    Make Works are factory ﬁnders, on a mission to make local manufacturing accessible. Think of it like a public library. An open resource that lets you discover the relevant skilled people, places, tools and materials that allow you to manufacture, make or repair closer to you. Learn more here.
    </p>
    <p>
    The platform allows individuals and companies to find and get in touch directly with the factories, makers, material suppliers and workshop facilities we have visited, filmed and photographed in their local area. 
    </p>

    <strong>How do I use Make Works?</strong>
    <p>
    You can search or browse for manufacturing processes, materials, machinery or equipment you need. This might be for a design brief, new artwork, a hardware product, outfitting a shop, props or set for a show, or just something for your home - anything physical you need to make or repair. Find out more about how to search Make Works here.
    </p>

    <p>
    Once you have found a factory that suits you, get directly in touch to start making.
    </p>

    <strong>
    Where did the idea for Make Works come from?
    </strong>

    <p>
    We are designers and advocates of locally sourced production. From our own experiences, we recognised the frustrations, difficulties and challenges of finding fabricators to make art and design work. Learn more about our story here.
    </p>

    <strong>
    Do you sell things made by local designers, makers and artists?
    </strong>

    <p>
    No, we don't. Make Works is specifically focussed on addressing the practicalities and production processes of making.
    </p>

    <p>
    There are lots of great platforms selling both locally or distributed produced work such as The New Craftsman, Made in These Isles, Open Desk, Precious Plastic, Distributed Design Market Platform and Etsy or Folksy - as well as many local retail spaces and pop up shops.
    </p>


    <h2>Why we are free</h2>
    <p>
    Make Works are factory ﬁnders, on a mission to make local manufacturing accessible. Think of it like a public library. An open resource that lets you discover the relevant skilled people, places, tools and materials that allow you to manufacture, make or repair closer to you. Learn more here. 
    </p>
    <p>
    The platform allows individuals and companies to find and get in touch directly with the factories, makers, material suppliers and workshop facilities we have visited, filmed and photographed in their local area. 
    </p>
  </div>

  <div class="col-md-6">
    <h2>How to get listed</h2>
    <strong>
    How does my factory get listed?
    </strong>

    <p>
    Check whether you fit our Listing Criteria, then fill out our form or send us an email.
    </p>

    <p>
    If you fit the criteria we will verify your information, then arrange a time to come and visit you to film and take images. Learn more about how to get listed on Make Works here.
    </p>

    <strong>
    What are the benefits of being listed on Make Works?
    </strong>

    <p>
    Being listed on Make Works gives you an opportunity to be found quickly and contacted directly by new customers that are actively seeking local fabricators. We provide high level photography and film. Our goal is to encourage more individuals and companies to manufacture work locally. 
    </p>


    <strong>
    How much does it cost to be listed?
    </strong>

    <p>
    It is completely free to be listed on Make Works. 
    </p>

    <p>
    Can Make Works listings include other creative practitioners, e.g Photographers or Animators?
    </p>

    <p>
    We are focused on the production of physical works and are therefore working with manufacturers, material suppliers and trades. There are other networks that list a wider remit of services under the production of creative work, such as the Creative Edinburgh members list.
    </p>


    <strong>
    How do I edit the information in a Make Works listing?
    </strong>

    <p>
    At present we have not created a login function for companies to edit their information. If you have changed address, added new services or contact details then please email your regional Make Works.
    </p>

    <strong>
    Who can view listings?
    </strong>

    <p>
    The information displayed on Make Works is open and anyone can use it to search and find content about manufacturers, materials, processes and machines in the local manufacturing industry.
    </p>

    <strong>
    How do I report incorrect information on Make Works?
    </strong>

    <p>
    We try to make sure that all company information is up to date and as accurate as possible. If there is an error please get in touch.
    </p>

    <p>
    I'm getting spam emails, or irrelevant requests from Make Works users. How do I stop this?
    </p>

    <p>
    You can report spam or irrelevant messages to make.works@fablabbcn.org We will aim to educate our users in best practice for contacting makers and factories.
    </p>

    <strong>
    I would like to remove my listing on Make Works. What do I do?
    </strong>

    <p>
    We would be disappointed to remove a listing on Make Works, but if your business has changed, or you simply wish to do so, please send us an email, and include your reasons for not wanting to be listed anymore.
    </p>

    <strong>
    I have a technical problem or support issue I need resolved: who do I contact?
    </strong>

    <p>
    Please contact make.works@fablabbcn.org if you come across an issue on the site. We will try to have it fixed as soon as possible.
    </p>

    <p>
    I have an idea for a new feature on Make Works - who do I tell?
    </p>

    <p>
    We love hearing feedback and your ideas. Let us know! 
    </p>
  </div>
</div>
