<%= title 'FAQ' %>


<div class="row mt-4">
  <div class="col-md-6">
    <h2>The Basics</h2>
    <p>
    Make Works are factory ﬁnders, on a mission to make local manufacturing accessible. Think of it like a public library. An open resource that lets you discover the relevant skilled people, places, tools and materials that allow you to manufacture, make or repair closer to you. Learn more <a href="/about">here</a> 
    </p>
    <p>
    The platform allows individuals and companies to find and get in touch directly with the factories, makers, material suppliers and workshop facilities we have visited, filmed and photographed in their local area. 
    </p>

    <strong>
    How do I use Make Works?
    </strong>

    <p>
    You can search or browse for manufacturing processes, materials, machinery or equipment you need. This might be for a design brief, new artwork, a hardware product, outfitting a shop, props or set for a show, or just something for your home - anything physical you need to make or repair.
    </p>

    <p>
    Once you have found a factory that suits you, get directly in touch to start making.
    </p>
    
    <strong>
    How is it useful?
    </strong>

    <p>
    Finding manufacturers , makers, suppliers or facilities near you can be difficult, time consuming and frustrating. Many are hidden away on industrial estates and can’t be found via a Google search.
    </p>
    
    <p>
    We've done the hard research work to document manufacturing and making so that you can access and explore the processes, materials, machinery and people you need to make, manufacture or repair work.
    </p>
    
    <p>
    Showcasing local manufacturing and making supports local economies and communities and encourages local connections and collaborations.
    </p>
    
    <strong>
    Who is Make Works for?
    </strong>
    
    <p>
    Make Works was originally made for professional artists, designers and makers in Glasgow, who were struggling to find the practical people and places to make things themselves, or get things manufactured.
    We want Make Works to be used by everyone. Tens of thousands of people now use the site on a monthly basis ranging from individuals and hobbyists to new brands and companies, plus museums, local governments and universities, along with the artists, designers and architects who we had in mind when we first started out.
    </p>

    <strong>
    Where did the idea for Make Works come from?
    </strong>

    <p>
    As a designer and advocate for locally sourced production, from their own experiences, Make Works Founder Fi Scott  recognised the frustrations, difficulties and challenges of finding fabricators to make art and design work. Read the Make Works story.
    </p>
    
    <strong>
    When did Make Works start?
    </strong>

    <p>
    Make Works originated in Scotland, with the web platform launched in early 2014. It was operated by Make Works Ltd 2011-2018.
    </p>
    
    <strong>
    Why is Make Works important?
    </strong>

    <p>
    Factories, manufacturers, makers, material suppliers and workshop facilities exist all around us. We want to show you where these people are, their skills, knowledge and capabilities and importantly how easy it is to work with them so that we can make it easier to produce things more sustainably, more locally, and support small scale businesses and economies.  
    </p>
    

    <strong>
    Do you sell things made by local designers, makers and artists?
    </strong>

    <p>
    No, we don't. Make Works is specifically focussed on addressing the practicalities and production processes of making.
    </p>

    <p>
    There are lots of great platforms selling both locally or distributed produced work such as <a href="https://www.thenewcraftsmen.com/">The New Craftsman</a> ,  <a href="https://www.opendesk.cc/">Open Desk</a> , <a href="https://preciousplastic.com/">Precious Plastic</a> , <a href="https://distributeddesign.eu/">Distributed Design Market Platform</a> and <a href="https://www.etsy.com/">Etsy</a> or <a href="https://folksy.com/">Folksy</a> - as well as many local retail spaces and pop up shops.
    </p>


    <h2>Why we are free</h2>
    <strong>
    Make Works is free to use; and we don't charge a fee for factories to be listed. So how do we deliver our services at the moment, and how will we make money in the future?
    </strong>
    
    <strong>
    Factory Listings
    </strong>
    
    <p>
    We list factories for free because that is the most democratic way to make this platform accessible, and ensure people are listed for skill and quality, not their ability to pay.
    </p>
    
    <strong>
    Open Information
    </strong>
    
    <p>
    Accessing Make Works is free because we believe that the information we are collecting should be open and accessible to everyone.
    </p>
    
    <strong>
    Business Model
    </strong>
    
    <p>
    In the beginning, Make Works was possible via overdrafts and credit cards, before being built with arts funding and grants from organisations such as  <a href="https://www.creativescotland.com/">Creative Scotland</a> and the <a href="https://jerwood.org/jerwood-foundation">CJerwood Charitable Foundation</a> . Make Works received small grants from foundations and trusts, and earned money from giving talks, workshops and from working on side projects with organisations such as the <a href="https://www.britishcouncil.org/">British Council</a> .  We were also invested in as part of <a href="https://seedcamp.com/">Seedcamp</a> .
    </p>
    
    <p>
    In 2015, ass part of looking at alternative methods of funding, we made Make Works available to people that wanted to start their own directories of local manufacturing outside of Scotland.
    </p>
    
    <p>
    From 2016-2018 we used crowdfunding platform Patreon to fund our activities, transitioning away from a traditional grant-funding model.
    </p>
    
    <p>
    In 2018 Make Works gifted the assets and platform to  <a href="https://fablabbcn.org/">Fab City Barcelona</a> . Make Works is now located at the Fab Lab Barcelona at IAAC, <a href="https://iaac.net/">The Institute of Advanced Architecture of Catalonia</a> (private education institution). The goal is to have the HQ distributed across the Make Works regions. Which enables each region to act locally and still be globally connected.
    </p>
    
    <p>
    Make Works is part of the <a href="https://distributeddesign.eu/">Distributed Design Market Platform</a> (DDMP), funded by Creative Europe, which acts as a platform to exchange and networking hub for the European maker movement. The initiative aims at developing and promoting the connection between artists, designers, makers, and the market.
    </p>
    
    <h2>Glossary Terms</h2>
    
    <strong>
    I don't understand some of the terms used. What is the difference between fabricator or supplier for example?
    </strong>
    
    <p>
    We have a glossary index of technical terms and phrases that we use. View the Make Works <a href="/glossary">Glossary</a> .
    </p>
    
    <strong>
    What if I'm not sure what process, material or machine I'm looking for?
    </strong>
    
    <p>
    Take a look at our <a href="/blog">How to Guides</a> in the first instance. You will also find articles and inspiration posts on our blog. You may wish to check out facilities that specialise in prototyping and early design stage testing of ideas if you are still experimenting or your project requires further development.
    </p>
    
    <h2>Requests</h2>
    <strong>
    I have a great idea for a product! Can you give me design or manufacturing advice?
    </strong>
    
    <p>
    Make Works are not a design consultancy. Please contact your regional Make Works to ask if they are willing to offer support if you are having trouble finding a manufacturer. 
    </p>

    <strong>
    Can Make Works do a personal introduction to a factory or maker for me?
    </strong>
    
    <p>
    You will find some tips and advice for contacting factories in our guide to messaging manufacturers on our blog. Please contact your regional Make Works to ask if they are willing  to offer personal introductions between users and listed factories
    </p>
    
    <strong>
    I am a student / researcher / arts organisation / business, and I am interested in the work Make Works have done for my study or project. Can we meet to learn more about this work?
    </strong>
    
    <p>
    We wish to share as much of the knowledge we have gathered as we possibly can. Due to a large number of these requests, we cannot meet with every individual. Please bear in mind we are a very small team. We will make the best effort we can to answer your queries and questions, which we ask you to refine after you've looked through the information available on our website, including About Make Works, the Make Works Story and Timeline, the Make Works Tour and our Press page.
    </p>

    <strong>
    Will Make Works sponsor the production of my product?
    </strong>
    
    <p>
    No. Make Works does not sponsor production of products or artwork.
    </p>
    
    <strong>
    I would like Make Works to publicise or promote my business. What can you offer me?
    </strong>
    
    <p>
    Make Works is not an advertising platform. We can improve the visibility of your business if you meet the factory listing criteria or if relevant, you are featured on the blog.
    </p>
    
     <h2>Other</h2>
    <strong>
    Where did the name Make Works come from?
    </strong>
    
    <p>
    At the beginning, hundreds of ideas for names were considered. From 'Who Does That?', to 'Maker-Speed-Dater'. Eventually the name was refined (with the help of Philip Blaikie) to use the two words that sum up what we hope this will enable you to do: Make Work. 
    </p>

    <strong>
    Press and Media Resources
    </strong>
    
    <p>
    We have a range of resources available. Get in contact with us and we will let you know where you can find press releases, image libraries from the tour and directory, Make Works logos and more. For further press enquiries please contact make.works@fablabbcn.org
    </p>
    
  </div>

  <div class="col-md-6">
    <h2>How it Works</h2>
    <strong>
    Searching Make Works
    </strong>
    
    <strong>
    I can't find what I'm looking for on Make Works. What should I do?
    </strong>
    
    <p>
    The search function on Make Works works better if you are searching for a process or material (like 'letterpress', or 'acrylic'), so try that instead of a finished product (like 'scarf' or 'bag'). 
    </p>
    
    <strong>
    What if a factory has not got back to me?
    </strong>
    
    <p>
    If you haven't heard back, then a follow up phone call works a treat! 
    </p>
    
    <strong>
    What if I have a bad experience with a factory?
    </strong>
    
    <p>
    Make Works regions verify and visit each listed factory so we expect you will receive a good service. Although we’re not responsible for the level of service, we certainly want to know if you've had a bad experience. If this is the case please contact  your regional Make Works and they’ll see what they can doto help.
    If we find problems with a manufacturer  or supplier continues then they will be removed from Make Works.
    </p>
    
    <strong>
    What do I do if a factory asks for drawings, and I don't know how to make them? 
    </strong>
      
    <p>
    We recommend sourcing designers and consultancies that specialise in these skills via your local creative networks, perhaps via the regional Make Works contact. Or you can take a look at our How to  Guides.
    Creating and preparing files can be very time consuming for manufacturers and makers, so don’t be surprised if they’re not always willing to produce them for you for very short runs.
    </p>
    
    <h2>Getting listed on Make Works</h2>
    <strong>
    How does my factory get listed?
    </strong>

    <p>
    First, please check our Listing Criteria to ensure your company is suitable to get listed on Make Works. Then visit our Getting Listed page to receive all information about how to get listed on Make Works.
    </p>

    <p>
    One or our regional champions will review your request and will verify your information. Please have some patience for this step. As soon as we have review your listing we will come back to you via email or a phone call to discuss the next steps.
    </p>

    <strong>
    What are the benefits of being listed on Make Works?
    </strong>

    <p>
    Being listed on Make Works gives you an opportunity to be found quickly and contacted directly by new customers that are actively seeking local fabricators. We provide a high level profile of your business in your listing. Our goal is to encourage more individuals and companies to manufacture work locally.
    </p>

    <strong>
    How much does it cost to be listed?
    </strong>

    <p>
    It is completely free to be listed on Make Works. 
    </p>

    <p>
    Can Make Works listings include other creative practitioners, e.g Photographers or Animators?
    </p>

    <p>
    Make Works is focused on the production of physical works and are therefore working with manufacturers, makers, workshop facilities and material suppliers. There are other networks that list a wider remit of services under the production of creative work, including local creative networks.
    </p>


    <strong>
    How do I edit the information in a Make Works listing?
    </strong>

    <p>
    Please log into your Make Works account and edit your listing via the “Edit Company” button you will find on your companies page. Our regional champions will review your editing request and will update the page after. In case you have any issues with updating your page please get in touch with your region via the Region Contact page.
    </p>

    <strong>
    Who can view listings?
    </strong>

    <p>
    The information displayed on Make Works is open and anyone can use it to search and find content about manufacturers, makers, materials, processes and machines in their local area.
    </p>

    <strong>
    How do I report incorrect information on Make Works?
    </strong>

    <p>
    We try to make sure that all company information is up to date and as accurate as possible. If there is an error please contact us.
    </p>

    <strong>
    I'm getting spam emails, or irrelevant requests from Make Works users. How do I stop this?
    </strong>

    <p>
    You can report spam or irrelevant messages to make.works@fablabbcn.org We will aim to educate our users in best practice for contacting makers and factories.
    </p>

    <strong>
    I would like to remove my listing on Make Works. What do I do?
    </strong>

    <p>
    We would be disappointed to remove a listing on Make Works, but if your business has changed, or you simply wish to do so, please contact your regional Make Works, and include your reasons for not wanting to be listed anymore.
    </p>

    <strong>
    I have a technical problem or support issue I need resolved: who do I contact?
    </strong>

    <p>
    Please contact make.works@fablabbcn.org if you come across an issue on the site. We will try to have it fixed as soon as possible.
    </p>

    <p>
    I have an idea for a new feature on Make Works - who do I tell?
    </p>

    <p>
    We love hearing feedback and your ideas. Contact us via make.works@fablabbcn.org !
    </p>
    
    <h2>Factory Visits and Listings</h2>
    <strong>
    How often does Make Works visit factories?
    </strong>

    <p>
    Each Make Works region has its own team which will be out on the road visiting factories regularly. Most regions have a waiting list for new listings.
    </p>
    
    <strong>
    How does Make Works find factories and makers to visit?
    </strong>

    <p>
    Make Works regions are constantly researching local manufacturers, makers, workshop facilities  and material suppliers. They often work from a list of processes and materials yet to be covered in-depth, so they try and find them whether by seeking recommendations for companies or even walking around industrial estates  / areas to map and discover them.
    </p>
    
    <p>
    We're always happy to receive recommendations and suggestions – If you know of a manufacturer, maker, material supplier or facility that should be listed on Make Works please let us know
    </p>
   
    <strong>
    Do you charge for listing factories?
    </strong>

    <p>
    No, we list factories on Make Works for free and this includes any filming or photography required.
    </p>
    
    <strong>
    Can I come to join you for factory visits?
    </strong>

    <p>
    No. When we visit factories we have a particular process in order to quickly collect information, film and photograph what we need for the listing. This is so that we do not interrupt or take up too much of the factories’ staff and production time. If you want to visit a factory, please contact them direct. 
    </p>
    
    <strong>
    I live in London/ Sheffield/ Berlin/ Abu Dhabi/ Philadelphia (etc). Can I set up a Make Works network here?
    </strong>
    
    <p>
    There are currently multiple Make Works regions globally operating their own open-access local manufacturing directories. Find out more about how you could get involved and start your own Make Works by contacting us via email: make.works@fablabbcn.org
    </p>
    
    <strong>
    Does Make Works charge to access the information listed?
    </strong>
    
    <p>
    No. Make Works can, and will always be accessed for free. Read more in our why we are free section
    </p>
    
    <h2>Images and Film</h2>
    <strong>
    Creative Commons
    </strong>
    
    <p>
    Make Works media is licensed through Creative Commons. It means that others can share and share alike as long as Make Works is credited as the source of the image.
    </p>
    
    <strong>
    Can we use Make Works images and videos on our own website or publication?
    </strong>
    
    <p>
    Generally, yes. Under Creative Commons, images and videos can be embedded provided that Make Works is credited as the source, with a direct link to make.works
    </p>
    
    <strong>
    How can I embed a Make Works video on my website?
    </strong>
    
    <p>
    We host our videos on the  <a href="https://vimeo.com/makeworks">Make Works Vimeo channel</a> . When displaying Make Works videos on your own website, please use our official embed code, which is available by clicking on the "embed" /. Please do not edit films and videos.
    If you use screenshots of video stills as part of a presentation or publication, please  ensure Make Works are credited with a direct link to the source where possible.
    </p>
    
    <strong>
    Can we screen or exhibit your film?
    </strong>
    
    <p>
    Yes, depending on the event. Just send us an email with details.
    </p>
    
    <strong>
    How can I use the Make Works logo?
    </strong>
    
    <p>
    The Make Works logo can be used for Press and Media. When using the Make Works logo to talk about the organisation or our work, we prefer if you only use the official, unmodified files to represent our brand. These can be downloaded by request via make.works@fablabbcn.org. Please ensure 150% buffer space around the logo. The logo should not be modified, altered or used in a confusing way, including suggesting sponsorship or endorsement by Make Works, or in a way that confuses Make Works with another brand. The Make Works logo should not be used in merchandise or tangible goods. Please do not use the Make Works logos in your avatar on any service.
    </p>
    
    <strong>
    I have a great idea for a project about design / manufacturing / craft / open / films / research / environment / local economies - can we partner up?
    </strong>
    
    <p>
    Make Works regions may be interested in being involved in or partnering on projects. , Please contact your regional Make Works with details of the sort of involvement you are looking for from them and they can let you know if  they are interested in being / have capacity to be involved.
    </p>
    
    <strong>
    Will you come and speak at our event?
    </strong>
    
    <p>
    We are happy to give talks and lectures about our work, and the ideas/practice around it. If you would like Make Works to speak at your conference, event or festival then please get in touch.
    </p>
   
      
  </div>
</div>
