<%= title 'Getting listed on Make Works' %>

<h1 class="my-5">
Make Works is a global library for local manufacturing, connecting people who want to make with people who do. We aim for free and accessible fabrication for artists, designers and makers.
</h1>



<h2>
  Who should get listed on Make Works?
</h2>

<p>
We refer to our Make Works listings as ‘manufacturers’. They range from individual craftsmen to large manufacturing companies; working on bespoke commissions to large production runs. The most important thing is that each factory fabricates work for other people, or provides facilities and materials for them to make and manufacture themselves.
</p>

<p>
You know a factory who might fit to Make Works? Or you would like to suggest your own? Join Make Works today and add your listing suggestion!
</p>


<h2>
  What are the benefits of being listed?
</h2>

<p>
The more people that add to the list of manufacturers, the more useful it becomes, for everyone.
</p>

<p>
Make Works is used by artists, engineers and architects, to film production companies and international brands with an invested interest in local manufacturing.
</p>

<p>
Once your factory has a live Make Works listing, new clients will be able to find your factory and get a strong understanding of what you do.
</p>

<p>
People will get in touch by a direct message to your inbox or by phone call to start a project.
</p>

<p>
When you get more work, we know Make Works has worked! We love hearing about successful commissions so send us your photos and stories of what has been made.
</p>

<strong>
Make Works Community
</strong>

<p>
Make Works is about making local manufacturing accessible and inspiring, we are connected to a global community through Distributed Design and Fab Cities. Once you have a Make Works listing, you are part of a community of manufacturers, makers, material suppliers and workshops.
</p>

<h2>
Make Works criteria for each listing 
</h2>

<strong>
  Quality
</strong>
<p>
Have the skills and track record of working to a high quality standard.
</p>


<strong>
  Access
</strong>

<p>
Be accessible and helpful when
working with new clients - such as designers, makers, artists,
Architects, international brands and small scale manufacturers that 
May not have worked with your Specific manufacturing process before.
</p>

<strong>
  Open
</strong>

<p>
Be transparent about production
specific information such as expected
turn-around times, minimum order
costs and in-house machinery.
</p>

<strong>
  Local
</strong>

<p>
Be manufacturing locally.
</p>


<h2>
What are the steps to get listed?
</h2>

<ol>
  <li class="mt-3">
    <strong>
      Sign up to Make Works
      <br>
    </strong>
    Please add your user profile to Make Works.
  </li>
  <li class="mt-3">
    <strong>
      Add your manufacturing space as a potential listing
    </strong>
      <br>
    Add your listing via the form accessible in your profile. 
  </li>
  <li class="mt-3">
    <strong>
      Verification from the regional 
    </strong>
      <br>
    Your listing suggestion will be reviewed by your regional champion and will come back to you for the following steps.
  </li>
  <li class="mt-3">
    <strong>
      Next steps
    </strong>
    <br>
    You may be asked about additional information for your listing, e.g. production specifics, products such as typical turnaround times and materials used. This takes about 15 minutes.
    <br>
    You may have been invited to be listed on Make Works. If you are not sure whether you qualify for Make Works check out our listing criteria.
  </li>
  <li class="mt-3">
    <strong>
      Additional (optional) filming visit
    </strong>
    <br>
    Your region champions may contact you to organize a filming visit. Filming takes about 2 hours, involves a short interview and allows us to collect photographs and video footage for your listing. We will send you a filming pack so that you know what to expect. Some regions have a waiting list in place so you might have to wait a little.
  </li>
</ol>



<h2>
  Why contribute?
</h2>

<p>
By suggesting factories you are contributing to an open access manufacturing resource used by thousands of people each month. The project is about providing free, practical information so they people can more easily manufacture locally.
</p>

<p>
We are asking for user-contributions, because we want to make Make Works as comprehensive as possible. We need the help of everyone that uses us, to improve it for everyone else.
</p>

<p>
Make Works will always be free to use, for everyone - so the more people that contribute, the better this platform becomes. We want to see a future, where everyone can source local production easily and quickly - supporting local fabricators in the process. Small scale, bespoke manufacturing also happens to be a better alternative for the environment.
</p>

<p>
So tell us about your local manufacturers, makers, material suppliers and workshop facilities. Help us map local manufacturing so that everyone can access and be inspired about it.
</p>
