<%= title 'Glossary' %>

<p>The <strong>Make Works Glossary</strong> is here to help you understand common terms and phrases used on Make Works and in the manufacturing industry. We are building this up over time, and if you have suggestions for terms you want included, drop us a line on <a href="mailto:make.works@fablabbcn.org">make.works@fablabbcn.org</a>&nbsp;to let us know.</p>
<p>For a more in-depth look at some of the manufacturing processes, check out our <a href="../../../guides">Production Guides</a>&nbsp;which will give you more details about various <strong>processes</strong> and <strong>materials</strong>.</p>
<p>You can learn more about How Make Works works here.&nbsp;</p>
<h2 id="MakeWorks">Make Works terms</h2>
<p><strong>Factory - </strong>A company or individual listed on Make Works.&nbsp;&nbsp;These are makers, manufacturers, fabricators, material suppliers and workshops of all shapes and sizes across a whole range of industries.&nbsp;</p>
<p><strong>Listing</strong>&nbsp;- means the individual page in which a factory is listed. &nbsp;This has in depth information shown about the fabicator (maker, manufacturer), material supplier or facility that is listed by Make Works. It includes film, photography and information about how they work, what they do and how to contact them.&nbsp;</p>
<p><strong>Designers and Makers</strong>&nbsp;- generally refer to users that are in the process of looking for factories that are listed, or browsing content.&nbsp;</p>
<h3 id="Search">Search</h3>
<p><strong>Fabricator</strong>&nbsp;- Maker, Manufacturer or Fabrication Business. Someone who will manufacture for others.</p>
<p><strong>Facility</strong>&nbsp;- Somewhere you can make your own work. Usually a workshop with access to various machines, tools, equipment or other facilities.</p>
<p><strong><strong>Machines</strong> - </strong>Specific machines a company uses or has available for use.</p>
<p><strong>Materials</strong> - Any type of material used to create a work.</p>
<p><strong>Material Supplier</strong>&nbsp;-&nbsp;A company supplying materials and/or equipment.</p>
<p><strong>Processes</strong> - The manufacturing method to get something made. Anything from metal working to pattern cutting, hand knitting to sand blasting and everything in between.</p>
<p><strong>Location</strong> - The places where factories are located.</p>
<p>&nbsp;&nbsp;</p>
<h3 id="Company">Factory Listing</h3>
<p><strong><strong>By Appointment</strong> - </strong>Some access to facilities depending on project.<br><strong><br></strong><strong>Capacity</strong>&nbsp;- The expected production limits for how much or how little someone will make. This can be from one-offs to runs of several thousands.</p>
<p><strong>Clients</strong> - A person or company that uses the professional service or goods of another.</p>
<p><strong>Closed</strong> - No open access to production facilities.</p>
<p><strong>Contact</strong> - The act of meeting or making contact with another.</p>
<p><strong>Industry</strong> - The main industry of a company.&nbsp;</p>
<p><strong>Limited</strong> - Limited access to some production facilities. Only by appointment.</p>
<p><strong>Open</strong> - General access to most or all facilities and machines.</p>
<p><strong>Production Access</strong>&nbsp;- Details about whether a company provides access to some or all facilities and&nbsp;workshops, or if they are closed for public access.</p>
<p><strong>Production Specifics</strong> - Details about how a company works.</p>
<p><strong>Project Specifics</strong> - Depends on project and requirements.</p>
<p><strong>Starting Cost</strong> - The minimum cost you should be expected.</p>
<p><strong>Turnaround Time</strong> - The process of completing or the time needed to complete a task.</p>
<p><strong>Workshops &amp; Classes - </strong>Runs workshops and classes using production facilities.</p>
<p><strong>Works with</strong>&nbsp;- Specifies the types of clients and collaborations a company will work with, for instance students, small business or large corporations.</p>

<h3 id="Content">Other content</h3>
<p><strong>Article</strong>&nbsp;- Editorial content about processes, materials, machines or companies.</p>
<p><strong>Guides</strong>&nbsp;-<strong>&nbsp;</strong>Production guides with in-depth details of processes or materials.</p>
<p><strong>Tour&nbsp;</strong>- A visit to a place or area. Generally when we refer to it we mean our original <a href="http://makeworks.co.uk/tour">tour across Scotland in 2013.</a>&nbsp;#makeworkstour&nbsp;</p>

<h2 id="Industry">Industry terms</h2>
<p><strong>Materials</strong> - A physical substance.</p>
<p><strong>Processes</strong> - Types of manufacturing processes a company uses to make works.</p>
<p><strong>Craftsmanship</strong> - The act of practicing something with great skill. Applicable to building code, hand skill or anything that may take <a href="http://www.amazon.co.uk/The-Craftsman-Richard-Sennett-x/dp/0141022094">10,000 hours </a>to master.&nbsp;</p>
<p><strong>Redistributed Manufacturing</strong> - economic shift where design is distributed online and made locally to the end user "it is easier to share a recipe than ship cakes and biscuits."</p>
<p><strong>Maker Movement</strong> - tech-influenced DIY community often associated with hackers and designers interested in making things rather than consuming in the physical world.&nbsp;</p>
<p><strong>Open Hardware</strong> - physical technological artifacts, where designs are often shared and distributed freely through the open design movement.&nbsp;</p>

<h3 id="Manufacturing">Useful Manufacturing Terms</h3>
<p><strong>CAD</strong> - Computer Aided Design.</p>
<p><strong>CAM</strong> - Computer Aided Manufacture.</p>
<p><strong>Commission</strong> - Is the hiring and payment for the creation of a new item or service, on behalf of another.</p>
<p><strong>Model</strong> - <span class="st">A small object, built to scale, that represents in detail a larger object. </span></p>
<p><strong>Prototype</strong> - The original or model on which something is based or formed, used to test a concept or process.</p>
<p><strong><strong>Samples</strong> - </strong>A small piece or one of a number of something, that shows the nature, style or quality of the whole item.</p>
<p><strong>Sketch</strong> - A simple, prelimimary drawing, giving the essential features without the detail.</p>
<p><strong>Technical Drawing</strong> - Is the act of drafting plans to visually commuicate how something can be used or constructed.</p>
<p><strong>Tooling</strong> - A<span class="sense-body"><span class="def-block"><span class="def-head"><span class="def"> set of <span class="query" title="equipment" data-href="http://dictionary.cambridge.org/search/business-english/direct/?q=equipment">equipment</span> used for a <span class="query" title="particular" data-href="http://dictionary.cambridge.org/search/business-english/direct/?q=particular">particular</span> <span class="query" title="purpose" data-href="http://dictionary.cambridge.org/search/business-english/direct/?q=purpose">purpose.</span> </span></span></span></span></p>

<h3 id="Production">Digital Fabrication</h3>
<p><strong>CNC -&nbsp;</strong>Machining equipment operated by computer numeric control. Includes milling machines, lathes and routers operating between 2 and 6 axis machines.</p>
<p><strong>Digital Fabrication</strong> - Is a type of manufacturing process where the machine used is controlled by a computer. Often associated with the maker movement, or open source hardware.</p>
<p><strong>Machining</strong> - Removing material using a cutting action (e.g laser cutting, milling).</p>
<p><strong>Additive</strong> &nbsp;- Various processes to make things&nbsp;by depositing material layer by layer. Addition of material (e.g 3D printing)</p>
<p><strong>.stl file</strong> - Typical file exported for 3D printing&nbsp;</p>

<h3 id="Materials">Materials</h3>
<p><strong>Ferrous</strong> - Metals that contain iron.</p>
<p><strong>Green Timber</strong> - Freshly cut timber with a higher moisture content than seasoned timber.</p>
<p><strong>Hardwood</strong> - Wood from a deciduous tree.</p>
<p><strong>Softwood</strong>- Wood from a coniferous or evergreen tree.</p>
<p><strong>Thermochromatic</strong> - A polymer that changes colour through heat, incl. inks, plastics and coatings.</p>

<h3 id="Processes">Processes</h3>
<p><strong>3D Printing</strong> - Is the process of making three dimensional solid objects from a digital file.&nbsp;</p>
<p><strong>Pattern Making</strong> - The production of the original design or prototype to form a mould. then used to produce identical parts.</p>
<p><strong>Thermosetting</strong> - A denoting substances (especially synthetic resins) which set permanently when heated.</p>
<p><strong>Vulcanise</strong> - Process of curing natural rubber with sulphur, hear and pressure.</p>

<h3 id="Machines">Machines</h3>
<p><strong>Dobby Loom</strong> -Is a type of floor loom that controls the warp threads using a device called a dobby.&nbsp;</p>
<p><strong>Jaquard Loom</strong> - An apparatus with perforated cards, fitted to a loom to facilitate the weaving of figured and brocaded fabrics.</p>
<p><strong>Jig</strong> - A device that holds a piece of work in place and guides the tool operating on it.</p>

<h3 id="Methodology">Manufacturing Methodology</h3>
<p><strong>Direct Manufacturing</strong> - Manufacturing directly from CAD data (e.g Rapid Prototyping)</p>
<p><strong>JIT</strong> - Just in Time Manufacturing, a process of supplying products in low volume when needed</p>
<p><strong>KANBAN</strong> - Scheduling system for JIT and Lean Production.</p>
<p><strong>Lean Manufacture</strong> - Japanese manufacturing methodology aimed at reducing waste and doing more with less (not to be confused with Lean Start Up)</p>
<p><strong><strong>Subtractive Manufacture</strong> - </strong>Processes using material removal to manufacture things.</p>
<p><strong>Supply Chain</strong> - The processes involved in manufacturing and distributing works</p>

<h3>Other</h3>
<p><strong>Budget</strong> - An estimate of income and expenditure for a set period of time.&nbsp;</p>
<p><strong>Funding</strong> - Is a financial resource used to support a project, programme or particular purpose.</p>
