<h2 id="Overview">Overview.</h2>

<p><strong>1. Make Works is free to use. </strong></p>
<p>Make Works is free to use, because we believe that it should be accessible and inspiring to manufacture locally. We will be introducing revenue streams; but are committed that these will not interrupt with the core services and information provided.&nbsp;<a href="../../../faq#Whywearefree">Learn about Why We are Free.&nbsp;</a></p>
<p><strong>2. Messaging a factory</strong></p>
<p>We verify each factory, and enable you to message a manufacturer directly. We do not take responsibility for time taken to reply to emails, turnaround time, or manufacturers taking on your project. If you have a consistent problem with the quality of production or service then please <a href="../../../contact">get in touch </a>with us and a member of the team will review whether or not the factory still meet our verification criteria.</p>
<p><strong>3. Getting enquiries for more work</strong></p>
<p>We bring listed factories new clients and projects through our direct messaging. We do not take responsibility for the number of, or types of enquiries received. If you are continually receiving work that is irrelevent, please <a href="../../../contact">get in touch</a>&nbsp;and we will address the situation.&nbsp;</p>
<p><strong>4. Creative Commons</strong></p>
<p>We love it when people share our content and spread the word about how brilliant it is to manufacture locally. All of our film and photography is licenced under <a href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons.</a>&nbsp;This means that you are free to use and share our content, but you must credit and link to <a href="../../../">www.makeworks.co.uk</a>&nbsp;You are not licenced to use Make Works content for commercial purposes.&nbsp;</p>
<p><strong>5. IP</strong></p>
<p>Make Works is trademarked, and we don't give away the code for the website. If you are trying to create something similar,&nbsp;please read more about how to&nbsp;<a title="Starting a region" href="../../../start-a-region">Start a Make Works region here</a>.</p>
<h2 id="ForWebsite">For Website Users</h2>
<p>BACKGROUND:</p>
<p>This agreement applies as between you, the User of this Website and Make Works Ltd, the owner(s) of this Website. &nbsp;Your agreement to comply with and be bound by these Terms and Conditions is deemed to occur upon your first use of the Website. If you do not agree to be bound by these Terms and Conditions, you should stop using the Website immediately.</p>

<h3>1. Definitions and Interpretation&nbsp;</h3>
<p>In this Agreement the following terms shall have the following meanings: &nbsp;</p>
<p>“Content”&nbsp;means any text, graphics, images, audio, video, software, data compilations and any other form of information capable of being stored in a computer that appears on or forms part of this Website;</p>
<p>“Factory Listing”&nbsp;means the digital factory directory on the Website containing profiles of the Registered Users, including web-based email contact facilities, pictures, video, audio and information as to the business of the Registered User;&nbsp;</p>
<p>“Make Works” is managed by Fab City Research Lab, at the Institute of Advanced Architecture of Catalonia (IaaC), based in Spain (VAT&nbsp; ESG63322614) and having its registered office at Carrer Pujades, 102 Barcelona, Spain, Zip Code 08005;</p>
<p>“Registered User(s)”&nbsp;means any manufacturer, supplier or company which is registered with Make Works and has an entry in the Factory Listing;</p>
<p>“Service”means collectively any online facilities, tools, services or information that Make Works makes available through the Website either now or in the future;</p>
<p>“System”means any online communications infrastructure that Make Works makes available through the Website either now or in the future to contact the Registered Users. &nbsp;This includes, but is not limited to, web-based email, [message boards, live chat facilities] and email links;</p>
<p>“User” / “Users”&nbsp;means any third party that accesses the Website and is not employed by Make Works and acting in the course of their employment; and</p>
<p>“Website”&nbsp;means the website that you are currently using (https://make.works).</p>

<h3>2. Intellectual Property</h3>
<p>2.1 Subject to the exceptions in Clause 3 of these Terms and Conditions, all Content included on the Website, including, but not limited to, text, graphics, logos, icons, images, sound clips, video clips, data compilations, page layout, underlying code and software is the property of Make Works, or our affiliates. &nbsp;By continuing to use the Website you acknowledge that such material is protected by applicable United Kingdom and International intellectual property and other laws.</p>
<p>2.2 Subject to Clause 4 of these Terms and Conditions you may print, reproduce, copy, distribute, store or in any other fashion re-use Content from the Website for personal purposes only unless otherwise indicated on the Website or unless given express written permission to do so by Make Works. &nbsp;Personal use includes, but is not limited to, recreational use, social use, and use in education as a student or teacher. &nbsp;Specifically you agree that:</p>
<p>2.2.1 you will not use the Content of the Website for commercial purposes; and</p>
<p>2.2.2 you will not systematically copy Content from the Website with a view to creating or compiling any form of comprehensive collection, compilation, directory or database unless given express written permission to do so by Make Works.</p>

<h3>3. Third Party Intellectual Property</h3>
<p>Where expressly indicated, certain Content and the Intellectual Property Rights subsisting therein belongs to other parties. &nbsp;This Content, unless expressly stated to be so, is not covered by any permission granted by Clause 2 of these Terms and Conditions to use Content from the Website. &nbsp;Any such Content is covered by the Creative Commons licence Attribution non-commercial 4.0 International <a href="http://creativecommons.org/licenses/by-nc/4.0/">[http://creativecommons.org/licenses/by-nc/4.0/]</a>&nbsp;and will be accompanied by a notice providing the contact details of the owner and [<a href="http://creativecommons.org/licenses/by-nc/4.0/">http://creativecommons.org/licenses/by-nc/4.0/]</a> &nbsp;Fair Use of Intellectual Property</p>
<p>Material from the Website may be re-used without written permission where any of the exceptions detailed in Chapter III of the Copyright Designs and Patents Act 1988 apply.</p>

<h3>4. Links to Other Websites</h3>
<p>This Website may contain links to other sites. &nbsp;Unless expressly stated, these sites are not under the control of Make Works or that of our affiliates. &nbsp;We assume no responsibility for the content of such websites and disclaim liability for any and all forms of loss or damage arising out of the use of them. &nbsp;The inclusion of a link to another site on this Website does not imply any endorsement of the sites themselves or of those in control of them.</p>

<h3>5. Links to this Website</h3>
<p>Those wishing to place a link to this Website on other sites may do so only to the home page of the site http://make.works without prior permission. &nbsp;Deep linking (i.e. links to specific pages within the site) requires the express permission of Make Works.</p>

<h3>6. Use of Communications Facilities and Content Submission</h3>
<p>6.1 When using the System you should do so in accordance with the following rules:</p>
<p>6.1.1 you must not use obscene or vulgar language;</p>
<p>6.1.2 the means by which you identify yourself must not violate these Terms and Conditions or any applicable laws;</p>
<p>6.1.3 you must not engage in any form of commercial advertising. &nbsp;This does not prohibit references to businesses for non-promotional purposes including references where advertising may be incidental;</p>
<p>6.1.4 you must not impersonate other people, particularly employees and representatives of Make Works or our affiliates;</p>
<p>6.1.5 you must not submit material that may contain viruses or any other software or instructions that may damage or disrupt other software, computer hardware or communications networks; and</p>
<p>6.1.6 you must not use our System for unauthorised mass-communication such as “spam” or “junk mail”.</p>
<p>6.2 You acknowledge that Make Works reserves the right to monitor any and all communications made to us or using our System.</p>
<p>6.3 In order to use the Website to contact Registered Users, you are required to submit certain personal details. &nbsp;By continuing to use this Website you represent and warrant that:</p>
<p>6.3.1 any information you submit is accurate and truthful; and</p>
<p>6.3.2 you will keep this information accurate and up-to-date.</p>
<p>6.4 You acknowledge that Make Works may retain copies of any and all communications made to us or using our System.</p>
<p>6.5 You acknowledge that any information you send to us through our System may be modified by us in any way and you hereby waive your moral right to be identified as the author of such information. &nbsp;Any restrictions you may wish to place upon our use of such information must be communicated to us in advance and we reserve the right to reject such terms and associated information.</p>
<p>6.6 Make Works accepts no liability in the event that any provision of sub-Clause 7.1, above, are not followed.</p>

<h3><strong>7. Privacy</strong></h3>
<p>7.1 Use of the Website is also governed by our Privacy Policy which is incorporated into these terms and conditions by this reference</p>
<p>7.2 The Website places the following cookies onto your computer or device. &nbsp;These cookies are used for the purposes described herein. &nbsp;Full details of the cookies used by the Website and your legal rights with respect to them are included in our Privacy Policy. By accepting these terms and conditions, you are giving consent to Make Woks Ltd to place cookies on your computer or device. &nbsp;Please read the information contained in the Privacy Policy prior to acceptance.</p>
<p>7.3 If you wish to opt-out of our placing cookies onto your computer or device, please adjust your internet browser's settings to restrict cookies as detailed in your internet browser's help menu. &nbsp;You may also wish to delete cookies which have already been placed. &nbsp;For instructions on how to do this, please consult your internet browser’s help menu.</p>

<h3>8. Disclaimers</h3>
<p>8.1 Make Works makes no warranty or representation that the Website will meet your requirements, that it will be of satisfactory quality, that it will be fit for a particular purpose, that it will not infringe the rights of third parties, that it will be compatible with all systems, that it will be secure and that all information provided will be accurate. We make no guarantee of any specific results from the use of our Services.</p>
<p>8.2 Make Works makes no warranty or representation that the services provided by the Registered Users will meet your requirements, that it will be of satisfactory quality, that it will be fit for a particular purpose, that it will not infringe the rights of third parties, and that all information provided will be accurate. &nbsp;</p>
<p>8.3 No part of this Website is intended to constitute advice and the Content of this Website should not be relied upon when making any decisions or taking any action of any kind.</p>
<p>8.4 Whilst every effort has been made to ensure that all descriptions of services available from the Registered Users, correspond to the actual services available, Make Works is not responsible for any variations from these descriptions.</p>
<p>8.5 Whist every effort has been made to ensure that all the information in each Factory Listing is true and accurate at the time of publishing, Make Works is not responsible for any incorrect statement made.</p>
<p>8.6 Whilst Make Works uses reasonable endeavours to ensure that the Website is secure and free of errors, viruses and other malware, all Users are advised to take responsibility for their own security, that of their personal details and their computers.</p>

<h3>9. Availability of the Website and Modifications</h3>
<p>9.1 The Service is provided “as is” and on an “as available” basis. &nbsp;We give no warranty that the Service will be free of defects and / or faults. &nbsp;To the maximum extent permitted by the law we provide no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality.</p>
<p>9.2 Make Works accepts no liability for any disruption or non-availability of the Website resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, power failure, natural events, acts of war or legal restrictions and censorship.</p>
<p>9.3 Make Works reserves the right to alter, suspend or discontinue any part (or the whole of) the Website including, but not limited to, the products and/or services available. &nbsp;These Terms and Conditions shall continue to apply to any modified version of the Website unless it is expressly stated otherwise.</p>

<h3>10. Limitation of Liability</h3>
<p>10.1 To the maximum extent permitted by law, Make Works accepts no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from the use of the Website or any information contained therein. Users should be aware that they use the Website and its Content at their own risk.</p>
<p>10.2 Make Works accepts no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from the User’s engagement with a Registered User. &nbsp;Users should be aware that they contact and engage with the Registered User at their own risk.</p>
<p>10.3 Nothing in these Terms and Conditions excludes or restricts Make Works’s liability for death or personal injury resulting from any negligence or fraud on the part of Make Works.</p>
<p>10.4 Whilst every effort has been made to ensure that these Terms and Conditions adhere strictly with the relevant provisions of the Unfair Contract Terms Act 1977, in the event that any of these terms are found to be unlawful, invalid or otherwise unenforceable, that term is to be deemed severed from these Terms and Conditions and shall not affect the validity and enforceability of the remaining terms and conditions. &nbsp;This term shall apply only within jurisdictions where a particular term is illegal.</p>

<h3>11. No Waiver</h3>
<p>In the event that any party to these Terms and Conditions fails to exercise any right or remedy contained herein, this shall not be construed as a waiver of that right or remedy.</p>

<h3>12. Previous Terms and Conditions</h3>
<p>In the event of any conflict between these Terms and Conditions and any prior versions thereof, the provisions of these Terms and Conditions shall prevail unless it is expressly stated otherwise.</p>

<h3>13. Communications</h3>
<p>13.1 All notices / communications shall be given to us either by post to our Premises (see address above) or by email to make.works@fablabbcn.org. &nbsp;Such notice will be deemed received 3 days after posting if sent by first class post, the day of sending if the email is received in full on a business day and on the next business day if the email is sent on a weekend or public holiday.</p>
<p>13.2 Make Works may from time to time send you information about our products and/or services. &nbsp;If you do not wish to receive such information, please click on “Unsubscribe” in any newsletter, or email us directly.&nbsp;</p>

<h3>14. Law and Jurisdiction</h3>
<p>These Terms and Conditions and the relationship between you and Make Works shall be governed by and construed in accordance with the Law of Scotland and Make Works and you agree to submit to the exclusive jurisdiction of the Courts of Scotland.</p>
<h2 id="ForListed">For Listed Companies</h2>
<p>BACKGROUND</p>
<p>This agreement applies as between you, the Registered User of this Website and Make Works, the owner(s) of this Website. &nbsp;Your agreement to comply with and be bound by these terms and conditions is deemed to occur by your indicating you acceptance of the terms and conditions below. If you do not agree to be bound by these terms and conditions, you should stop using the Website immediately.</p>

<h3>1. Definitions and Interpretation&nbsp;</h3>
<p>In this Agreement the following terms shall have the following meanings: &nbsp;</p>
<p>“Content”&nbsp;means any text, graphics, images, audio, video, software, data compilations and any other form of information capable of being stored in a computer that appears on or forms part of this Website;</p>
<p>“Factory Listing”&nbsp;means the digital factory directory on the Website containing profiles of the Registered Users, including a web-based email contact facilities, pictures, video, audio and information as to the business of the Registered User;</p>
<p>“Make Works”&nbsp;means Make Works Ltd, a company limited by guarantee registered in Scotland (company number SC435270) and having its registered office at 6th Floor Gordon Chambers, 90 Mitchell Street, Glasgow, G1 3NQ;</p>
<p>“Registered User(s)”&nbsp;means any third party manufacturer, supplier or other company that is registered with Make Works, has a Directory Listing, accesses the Website and is not employed by Make Works and acting in the course of their employment;&nbsp;</p>
<p>“Service”&nbsp;means collectively any online facilities, tools, services or information that Make Works makes available through the Website either now or in the future;</p>
<p>“System”&nbsp;means any online communications infrastructure that Make Works makes available through the Website either now or in the future. &nbsp;This includes, but is not limited to, web-based email, message boards, live chat facilities and email links;</p>
<p>“User”&nbsp;means any third party accessing the Website who is not employed by Make Works and acting in the course of their employment and is not a Registered User; and</p>
<p>“Website”&nbsp;means make.works</p>

<h3>2. Intellectual Property</h3>
<p>2.1 Subject to the exceptions in Clause 3 of these Terms and Conditions, all Content included on the Website, including, but not limited to, text, graphics, logos, icons, images, sound clips, video clips, data compilations, page layout, underlying code and software is the property of Make Works, or our affiliates. &nbsp;By continuing to use the Website you acknowledge that such material is protected by applicable United Kingdom and International intellectual property and other laws.</p>
<p>2.2 You may print, reproduce, copy, distribute, store or in any other fashion re-use Content from the Website for as specified in Clause 4 of these Terms and Conditions and for personal or educational purposes only unless otherwise indicated on the Website or unless given express written permission to do so by Make Works. &nbsp;Specifically you agree that:</p>
<p>2.2.1 You will not use the Content of the Website for commercial purposes;</p>
<p>2.2.2 You will not systematically copy Content from the Website with a view to creating or compiling any form of comprehensive collection, compilation, directory or database unless given express written permission to do so by Make Works;</p>

<h3>3. Third Party Intellectual Property</h3>
<p>Where expressly indicated, certain Content and the Intellectual Property Rights subsisting therein belongs to other parties. &nbsp;This Content, unless expressly stated to be so, is not covered by any permission granted by Clause 2 of these Terms and Conditions to use Content from the Website. &nbsp;Any such Content is covered by the Creative Commons licence Attribution non-commercial 4.0 International [<a href="http://creativecommons.org/licenses/by-nc/4.0/">http://creativecommons.org/licenses/by-nc/4.0/</a>] and will be accompanied by a notice providing the contact details of the owner and [<a href="http://creativecommons.org/licenses/by-nc/4.0/">http://creativecommons.org/licenses/by-nc/4.0/</a>] &nbsp;</p>

<h3>4. Fair Use of Intellectual Property</h3>
<p>Material from the Website may be re-used without written permission where any of the exceptions detailed in Chapter III of the Copyright Designs and Patents Act 1988 apply.</p>

<h3>5. Links to Other Websites</h3>
<p>This Website may contain links to other sites. &nbsp;Unless expressly stated, these sites are not under the control of Make Works or that of our affiliates. &nbsp;We assume no responsibility for the content of such Websites and disclaim liability for any and all forms of loss or damage arising out of the use of them. &nbsp;The inclusion of a link to another site on this Website does not imply any endorsement of the sites themselves or of those in control of them.</p>

<h3>6. Links to this Website</h3>
<p>Those wishing to place a link to this Website on other sites may do so only to the home page of the site www.makeworks.co.uk without prior permission. &nbsp;Deep linking (i.e. links to specific pages within the site) requires the express permission of Make Works. &nbsp;Registered Users may place a link to their page in the Directory Listing on their own website without prior permission. &nbsp;</p>

<h3>7. Use of Communications Facilities and Content Submission</h3>
<p>7.1 When using the Website including and if submitting Content to the Website you should do so in accordance with the following rules:</p>
<p>7.1.1 you must not use obscene or vulgar language;</p>
<p>7.1.2 you must not submit Content that is unlawful or otherwise objectionable. &nbsp;This includes, but is not limited to, Content that is abusive, threatening, harassing, defamatory, ageist, sexist or racist;</p>
<p>7.1.3 you must not submit Content that is intended to promote or incite violence;</p>
<p>7.1.4 content submissions are required to be made using the English language(s). &nbsp;Content in any other language may be removed at our sole discretion;</p>
<p>7.1.5 you must not post links to other Websites containing any of the above types of Content;</p>
<p>7.1.6 the means by which you identify yourself must not violate these Terms and Conditions or any applicable laws;</p>
<p>7.1.7 you must not engage in any form of commercial advertising. &nbsp;This does not prohibit references to businesses for non-promotional purposes including references where advertising may be incidental;</p>
<p>7.1.8 you must not impersonate other people, particularly employees and representatives of Make Works or our affiliates;</p>
<p>7.1.9 you must not submit material that may contain viruses or any other software or instructions that may damage or disrupt other software, computer hardware or communications networks; and</p>
<p>7.1.10 you must not use our System for unauthorised mass-communication such as “spam” or “junk mail”.</p>
<p>7.2 You acknowledge that Make Works reserves the right to monitor any and all communications made to us or using our System.</p>
<p>7.3 In order to use the Website as a Registered User, you are required to submit certain personal details. &nbsp;By continuing to use this Website you represent and warrant that:</p>
<p>7.3.1 any information you submit is accurate and truthful; and</p>
<p>7.3.2 you will keep this information accurate and up-to-date.</p>
<p>7.4 By submitting Content you warrant and represent that you are the author of such Content or that you have acquired all of the appropriate rights and / or permissions to use the Content in this fashion. &nbsp;Make Works accepts no responsibility or liability for any infringement of third party rights by such Content. Further, you waive all moral rights in the Content to be named as its author and grant Make Works a perpetual licence to modify the Content as necessary for its inclusion on the Website. &nbsp;Make Works accepts no responsibility or liability for any infringement of third party rights by such Content.]</p>
<p>7.5 Make Works will not be liable in any way or under any circumstances for any loss or damage that you may incur as a result of such Content, nor for any errors or omissions in the Content. &nbsp;Use of and reliance upon such Content is entirely at your own risk.</p>
<p>7.6 Unless a Registered User informs Make Works otherwise, in advance of posting, in writing, and Make Works agrees to any terms or restrictions, all Content submitted is for publication on the Website and other such uses as Make Works may deem appropriate under a royalty-free, perpetual basis.</p>
<p>7.7 You acknowledge that Make Works may retain copies of any and all communications made to us or using our System.</p>

<h3>8. Termination and/or Suspension</h3>
<p>8.1 In the event that any of the provisions of sub-Clause 7.1, above, are not followed, Make Works reserves the right to suspend or terminate your access to the Service. &nbsp;Any Registered Users banned in this way must not attempt to use the Website under any other name or by using the access credentials of another Registered User, with or without the permission of that Registered User.</p>
<p>8.2 Make Works may terminate or suspend a Registered User’s Factory Listing at any time, at their own discretion.</p>

<h3>9. Privacy</h3>
<p>9.1 Use of the Website is also governed by our Privacy Policy which is incorporated into these terms and conditions by this reference. &nbsp;</p>
<p>9.2 [The Website places the following cookies onto your computer or device. &nbsp;These cookies are used for the purposes described herein. &nbsp;Full details of the cookies used by the Website and your legal rights with respect to them are included in our Privacy Policy. By accepting these terms and conditions, you are giving consent Make Works to place cookies on your computer or device. &nbsp;</p>
<p>9.3 If you wish to opt-out of our placing cookies onto your computer or device, please "adjust your internet browser's settings to restrict cookies as detailed in your internet browser's help menu" . &nbsp;You may also wish to delete cookies which have already been placed. &nbsp;For instructions on how to do this, please consult your internet browser’s help menu.</p>

<h3>10. Disclaimers</h3>
<p>10.1 Make Works makes no warranty or representation that the Website will meet your requirements, that it will be of satisfactory quality, that it will be fit for a particular purpose, that it will not infringe the rights of third parties, that it will be compatible with all systems, that it will be secure and that all information provided will be accurate. We make no guarantee of any specific results from the use of our Services.</p>
<p>10.2 No part of this Website is intended to constitute advice and the Content of this Website should not be relied upon when making any decisions or taking any action of any kind.</p>
<p>10.3 Whist every effort has been made to ensure that all the information in the Factory Listing is true and accurate at the time of publishing, Make Works is not responsible for any incorrect statement made in the Factory Listing. &nbsp;It is the Registered User’s responsibility to inform Make Works of any changes to, updates or incorrect information contained in the Factory Listing relating to their company and/or services.</p>
<p>10.4 Whilst Make Works uses reasonable endeavours to ensure that the Website is secure and free of errors, viruses and other malware, all Users are advised to take responsibility for their own security, that of their personal details and their computers.</p>

<h3>11. Availability of the Website and Modifications</h3>
<p>11.1 The Service is provided “as is” and on an “as available” basis. &nbsp;We give no warranty that the Service will be free of defects and / or faults. &nbsp;To the maximum extent permitted by the law we provide no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality.</p>
<p>11.2 Make Works accepts no liability for any disruption or non-availability of the Website resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, power failure, natural events, acts of war or legal restrictions and censorship.</p>
<p>11.3 Make Works reserves the right to alter, suspend or discontinue any part (or the whole of) the Website including, but not limited to, the products and/or services available. &nbsp;These Terms and Conditions shall continue to apply to any modified version of the Website unless it is expressly stated otherwise.</p>

<h3>12. Limitation of Liability</h3>
<p>12.1 To the maximum extent permitted by law, Make Works accepts no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from the use of the Website or any information contained therein. Registered Users should be aware that they use the Website and its Content at their own risk.</p>
<p>12.2 Make Works accepts no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from any engagement between a Registered User and a User of the Website.</p>
<p>12.3 Nothing in these terms and conditions excludes or restricts Make Works’ liability for death or personal injury resulting from any negligence or fraud on the part of Make Works.</p>
<p>12.4 Whilst every effort has been made to ensure that these terms and conditions adhere strictly with the relevant provisions of the Unfair Contract Terms Act 1977, in the event that any of these terms are found to be unlawful, invalid or otherwise unenforceable, that term is to be deemed severed from these terms and conditions and shall not affect the validity and enforceability of the remaining terms and conditions. &nbsp;This term shall apply only within jurisdictions where a particular term is illegal.</p>

<h3>13. No Waiver</h3>
<p>In the event that any party to these Terms and Conditions fails to exercise any right or remedy contained herein, this shall not be construed as a waiver of that right or remedy.</p>

<h3>14. Communications</h3>
<p>14.1 All notices / communications shall be given to us either by post to our Premises (see address above) or by email to make.works@fablabbcn.org Such notice will be deemed received 3 days after posting if sent by first class post, the day of sending if the email is received in full on a business day and on the next business day if the email is sent on a weekend or public holiday.</p>
<p>14.2 Make Works may from time to time send you information about our products and/or services. &nbsp;If you do not wish to receive such information, please &nbsp;click “Unsubscribe” on any newsletter or email us directly.&nbsp;</p>

<h3>15. Law and Jurisdiction</h3>
<p>These terms and conditions and the relationship between you and Make Works shall be governed by and construed in accordance with the Law of Scotland and Make Works and you agree to submit to the exclusive jurisdiction of the Courts of Scotland.</p>
