<%= title 'Searching & Matching with Make Works' %>

<h1 class="my-5">
  Some practical tips to guide you through the process of searching, matching, and contacting the right manufacturer for you!
</h1>

<h2>
  Tips are divided into the three main stages. 1. Searching Make Works, 2. Matching with the manufacturer and 3. Contacting the manufacturer.
</h2>

<h2 class="mt-4">
  Searching Make Works
</h2>

<p>
Make Works lists high-quality manufacturers, workshops and material suppliers, who importantly are accessible and want to work with others. We help you find fabricators, manufacturers, makers, factories and workshops in your local area that you've been looking for to build relationships with for your projects and products.
</p>


<p>
The best way to use Make Works is through our explore page to find specific processes, materials, industries, manufacturers or machines.
</p>

<p>
When searching Make Works, it is often easier to find relevant results if you know what processes or materials are involved. You can then search for factories that offer these processes and the necessary machines available to work on various materials. Our filters help you pinpoint a location, but it can be a good idea to start with a wide search to find all of our listed companies who may very well be able to help you out.
</p>

<strong>
  Search tips
</strong>

<ul>
  <li>
    Check your spelling
  </li>
  <li>
    Try searching for the material or process rather than the finished product
  </li>
  <li>
    Make your search less specific to see more results and then refine
  </li>
  <li>
    Try synonyms or other related terms
  </li>
</ul>


<strong>
  Examples
</strong>

<ul>
  <li>
    metal cutting in Glasgow
  </li>
  <li>
    letterpress business cards
  </li>
  <li>
    pattern cutting for leather jackets
  </li>
  <li>
    machine knitting textiles
  </li>
  <li>
    wooden boxes
  </li>
</ul>

<h2 class="mt-4">
  Matching with the manufacturer
</h2>

<p>
Our distributed Make Works team collects in-depth, practical information including turnaround times, minimum order costs and previous clients to verify and list skilled local manufacturers. We do this to provide the best possible information for those who want to make. We encourage you to evaluate, based on the information provided, whether that manufacturer is right for your product or project before you get in touch. We are committed to making sure that this information is open, accurate and up to date.
</p>

<h2 class="mt-4">
  Contacting the manufacturer
</h2>

<p>
Using Make Works means that you can get in touch with a manufacturer directly.
</p>

<p>
We know it can feel a bit intimidating when you first get in touch with a new manufacturer, especially if it is in an industry you haven't worked with before.
</p>


<p>
On each listing, we've included our recommended contact along with a photo so that you can even put a face to a name! You can then use the contact information provided to start a conversation with manufacturers about your project. In our experience, manufacturers who are unable to assist with specific projects will often generously signpost enquirers to those they believe can help you with your research and building your networks.
</p>

<p>
If you haven’t worked with a manufacturer before, you can read our tips for working with local manufacturers And how to build strong relationships with factories
</p>

<p>
In brief some tips:
</p>

<p>
<strong>
  Best practice for approaching local manufacturers
</strong>
</p>

<ul>
  <li>
    Respect the factories and their time and don't get in touch if your budget, timeline or situation is not going to be a match.
  </li>
  <li>
    Do your research, it is unnecessarily waste your or their time.
  </li>
  <li>
    Be clear and specific about what you are looking for. - Do not despair if it takes a few days to get a response - be patient.
  </li>
</ul>

<p>
<strong>
  Messaging local manufacturers
</strong>
</p>

<ul>
  <li>
    Make it easy for them to understand what you are looking for:
  </li>
  <li>
    Make sure you include your contact details a daytime phone number is always useful.
  </li>
  <li>
    If you have files or sketches to include, attach them to the email, but in the instance they are large files ask the manufacturer if they preferred way for you to send them.
  </li>
</ul>

<h2 class="mt-4">
  And finally - tell us how you got on
</h2>

<p>
If you've worked with a manufacturer that you've found on Make Works, let us know what your experience was like.
We love finding out what you've made and would be keen to feature stories in our Made Works blog series, and to find out  what we can do to make it easier for you to work with local makers, workshop and suppliers.
The fastest way is just to email us: make.works@fablabbcn.org
</p>

<p>
Best practices for approaching local manufacturers
</p>

<ul>
  <li>
    Respect the factories and their time. Avoid calling up or emailing someone to ask for information you can already find on Make Works or on the factory website, and don't get in touch if your budget, timeline or situation is not going to be a match.
  </li>
  <li>
    Do your research. Read the production specifics and details about each company, and watch their video before contacting them. If you get in touch with someone who explicitly states that they do not do what you are looking to do,  so as not to unnecessarily you are only wasting your or their time as well as your own.
  </li>
  <li>
    Be clear and specific about what you are looking for. Even if you are just at the idea stage, make sure you explain in as much detail as possible what your project is, what you are looking for and any expectations you have about budget, time, materials or other.
  </li>
  <li>
    Do not despair if it takes a few days to get a response -. Many manufacturers are busy, some are quite small, and not everyone checks emails every day. They may also have a backlog of requests, so be patient - the best method is to call if you are in a hurry.
  </li>
</ul>

<p>
Messaging local manufacturers
</p>

<ul>
  <li>
    When you contact a maker or manufacturer, it is important that you Mm - Make it easy for them to understand what you are looking for and the best way they can contact you, as well as how to contact you to take the next step. Everyone is pressured for time, so here are some things you can do to help speed things up:
  </li>
  <li>
    Make sure you include your contact details. It is also a good idea to include a daytime phone number is always useful in your message.
  </li>
  <li>
    If you have files or sketches you want to include, attach them to the email, but in the instance, they are large files ask the manufacturer if they, if the files are too large ask the manufacturer if they have a preferred way for you to send them.
  </li>
</ul>





