<div class="container">
  <div class="row my-5">

    <div class="col-12 col-md-6">
      <p>Default</p>
      <h1>h1 heading</h1>
      <h2>h2 heading</h2>
      <h3>h3 heading</h3>
      <h4>h4 heading</h4>
      <h5>h5 heading</h5>
      <h6>h6 heading</h6>
      <small>Small small small</small>
      <br>
      <strong>Strong strong strong</strong>
      <p>Paragraph</p>
    </div>

    <div class="col-12 col-md-6">
      <div class="roboto">
        <p>Roboto</p>
        <h1>h1 heading</h1>
        <h2>h2 heading</h2>
        <h3>h3 heading</h3>
        <h4>h4 heading</h4>
        <h5>h5 heading</h5>
        <h6>h6 heading</h6>
        <small>Small small small</small>
        <br>
        <strong>Strong strong strong</strong>
        <p>Paragraph</p>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <button class="btn btn-primary">btn-primary</button>
      <button class="btn btn-yellow">btn-yellow</button>
      <button class="btn btn-outline-primary">btn-outline-primary</button>
      <br></br>
      <button class="btn btn-secondary">btn-secondary</button>
      <button class="btn btn-outline-secondary">btn-outline-secondary</button>
      <br></br>

      <div class="text-center d-flex justify-content-between">
        <div class="circle bg-red d-flex flex-column justify-content-center"> Red </div>
        <div class="circle bg-blue d-flex flex-column justify-content-center"> Blue </div>
        <div class="circle bg-green d-flex flex-column justify-content-center"> Green </div>
        <div class="circle bg-yellow d-flex flex-column justify-content-center"> Yellow </div>
        <div class="circle bg-white border border-dark d-flex flex-column justify-content-center">White</div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-6" style="background: #f6f8ff">
      <div class="alert alert-primary shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
      <div class="alert alert-secondary shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
      <div class="alert alert-warning shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
      <div class="alert alert-danger shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
      <div class="alert alert-success shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
      <div class="alert alert-info shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
      <div class="alert alert-light shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
      <div class="alert alert-dark shadow"><button class="close" data-dismiss="alert">x</button>You are already signed in.</div>
    </div>

  </div>
</div>
