<%= title 'Styleguide' %>
<div class="">
  <%= link_to "See also the Bootstrap 5 cheatsheet", "https://getbootstrap.com/docs/5.0/examples/cheatsheet/", target: "_blank" %>

  <div class="row my-5">

    <div class="col-md-6">
      <p>Default</p>
      <h1>h1 heading</h1>
      <h2>h2 heading</h2>
      <h3>h3 heading</h3>
      <h4>h4 heading</h4>
      <h5>h5 heading</h5>
      <h6>h6 heading</h6>
      <small>Small small small</small>
      <br>
      <strong>Strong strong strong</strong>
      <p>Paragraph</p>
    </div>

    <div class="col-lg-6">
      <div class="roboto">
        <p>Roboto</p>
        <h1>h1 heading</h1>
        <h2>h2 heading</h2>
        <h3>h3 heading</h3>
        <h4>h4 heading</h4>
        <h5>h5 heading</h5>
        <h6>h6 heading</h6>
        <small>Small small small</small>
        <br>
        <strong>Strong strong strong</strong>
        <p>Paragraph</p>
      </div>
    </div>

    <div class="col-lg-6 mb-3">
      <input class="btn btn-blank my-2" value="Blank button">
      <br>
      <input class="btn btn-blue my-2" value="Blue button">
      <br>
      <input class="btn btn-outline-blue my-2" value="Blue outline button">
      <br>
      <input class="btn btn-primary my-2" value="Input">
      <br>
      <button class="btn btn-primary">
        btn-primary
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </button>
      <button class="btn btn-yellow">btn-yellow</button>
      <br></br>
      <button class="btn btn-outline-primary">btn-outline-primary</button>
      <button class="btn btn-outline-dark">btn-outline-dark</button>
      <br></br>
      <button class="btn btn-secondary">btn-secondary</button>
      <button class="btn btn-outline-secondary">btn-outline-secondary</button>
      <br></br>

      <div class="text-center d-flex justify-content-between">
        <div class="circle d-flex flex-column justify-content-center text-white bg-red"> Red </div>
        <div class="circle d-flex flex-column justify-content-center text-white bg-blue"> Blue </div>
        <div class="circle d-flex flex-column justify-content-center text-white bg-green"> Green </div>
        <div class="circle d-flex flex-column justify-content-center bg-yellow"> Yellow </div>
        <div class="circle d-flex flex-column justify-content-center bg-white border border-dark">White</div>
      </div>
    </div>

    <div class="col-md-6">
      <h3>Stimulus js</h3>
      <h4>Toggle</h4>
      <a href="#" data-controller="toggle" data-action="click->toggle#toggle" data-toggle-css-class="btn-primary" class="btn">
        Click me to toggle class
      </a>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-6">
      <div class="alert alert-primary d-flex shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
      <div class="alert alert-secondary shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
      <div class="alert alert-warning shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
      <div class="alert alert-danger shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
      <div class="alert alert-success shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
      <div class="alert alert-info shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
      <div class="alert alert-light shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
      <div class="alert alert-dark shadow"><button class="btn-close" data-bs-dismiss="alert"></button>You are already signed in.</div>
    </div>

  </div>
</div>
