<div class="carousel slide" id="carouselCompany-old" data-bs-ride="carousel">
  <div class="carousel-inner border rounded-3 mb-3">
    <% @company.old_photos.each_with_index do |img, index| %>
      <% if img.present? %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag(get_1200px(img), class: 'd-block w-100') %>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselCompany-old" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselCompany-old" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
