<div class="card my-5 p-5">
  <%= title t('shared.editing') %>

  <%= link_to t('shared.back'), @company %>
  <%= render 'form', company: @company %>
  <br>
  <%= link_to t('shared.back'), @company %>
</div>
