<div class="row">

  <div class="col-md-3">
    <%= render 'table_filters' %>
  </div>

  <div class="col-md-9">
    <section class="row">
      <% @companies.each do |company| %>
        <article class="col-lg-6 col-xxl-4 mb-3">

          <%= render partial: 'companies/company_card', locals: { company: company } %>

        </article>
      <% end %>

      <% if @companies.blank? %>
        <p class="text-center mt-5">Nothing found. Try widening the search.</p>
      <% end %>
    </section>

    <div class="d-flex justify-content-center">
      <%= paginate @companies %>
    </div>
  </div>
</div>
