/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #F9F9F9;
  color: #333;
  font-family: 'IBM Plex Sans', sans-serif;
}
nav{
  border-bottom: 1px solid #ccc;
}

.btn{
  border-radius: 0;
}

.btn:hover{
  color: white;
  background: #555;
}

.btn-primary{
  background: #222;
  color: white;
  border: 0px;
}

.btn-primary:active{
  background:black !important;
}

.btn-primary:focus{
  background:black;
}

td{
  max-width:255px;
  overflow: auto;
}
