/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//= require 'actiontext'

body {
  //background-color: #F9F9F9;
  color: #333;
  font-family: 'IBM Plex Sans', sans-serif;
}

// Fonts
.roboto {
  font-family: 'Roboto', serif;
}

/* Tiles use bootstrap borders, but need to change when they collaps on md- sizes */
.tile-first{
  border-bottom: 1px solid black;
}
@media (min-width: 768px){
  .tile-first{
    border: none;
    border-right: 1px solid black;
  }
}

/* Apply the img-fluid class on all images, because many images are injected from the blog text */
img{
  max-width: 100%;
  height: auto;
}

.btn{
  border-radius: 0;
  min-width: 160px;
}

.btn:hover{
  color: white;
  background: #555;
}

.btn-primary{
  background: #222;
  color: white;
  border: 0px;
}

.btn-primary:active{
  background:black !important;
}

.btn-primary:focus{
  background:black;
}

.btn-outline-primary{
  color: #222;
  background: white;
  border: 1px solid #222;
  border-radius: 20px;
}

.btn-outline-primary:hover{
  background:black !important;
  border: 1px solid #222;
}

td{
  max-width:255px;
  overflow: auto;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  margin: 5px 0px;
  border-left: 1px solid #DDD;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

.circle{
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.bubble{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.bg-yellow{
  background: #FFBE02;
}
.bg-red{
  background: #FF3D2B;
}
.bg-green{
  background: #0D8055;
}
.bg-blue{
  background: #002CBA;
}
