/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//= require 'actiontext'

$black: #000;
$black2: #222;
$black3: #333;
$blue: #193EE9;
$green: #C4EBC4;
$grey: #555;
$grey2: #ccc;
$grey3: #ddd;
$grey4: #F4F5F5;
$white: #fff;
$yellow: #FFEF61;
$yellow2: #FFBE02;
$border-width: 1px;
$card-border-radius: 20px;

html {
  font-size: 17px; // default 16px
}

body {
  background-color: $grey4;
  color: $black3;
  font-family: 'Inter', sans-serif;
}

// Remove after simple_form starts to support Bootstrap 5
.form-group {
  margin-bottom: 10px;
}

.imageback {
  background-image: url('https://static.make.works/company/HighlandStoneware/1200px/2013-07-25_MakeWorks-KatyWest-HighlandStonewear-StudioRoRo-4278.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.mw-900 {
  max-width: 900px;
}

.mw-radius {
  border-radius: $card-border-radius;
}

label {
  color: $black2;
  margin-bottom: 5px;
}

a {
  color: $black2;
  &:hover {
    color: $black2;
  }
}

h1 {
  font-weight: 700;
  font-size: 50px
}

h2 {
  font-weight: 700;
  font-size: 36px
}

h3 {
  font-size: 28px
}

h4 {
  font-size: 24px
}

h5 {
  font-size: 20px
}

h6 {
  font-size: 18px
}

.border-top-2 {
  border-top: 2px solid $black;
}

.img-fill {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-admin {
  background-color: $grey3;
  border-radius: $card-border-radius;
  border: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  margin-bottom: 20px;
  padding: 20px;
}

.avatar-small {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-medium {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.btn {
  border-radius: 20px;
  padding: 6px 30px;
}

.btn-black {
  background: $black;
  color: white;
  &:hover {
    background: white;
    border: 1px solid $grey;
    color: $black3;
    transition: 0.4s;
  }
}

.btn-blank {
  color: $black3;
  &:hover {
    background: white;
    border: 1px solid $grey;
    color: $black3;
    transition: 0.4s;
  }
}

.btn-blue {
  background: $blue;
  color: white;
  &:hover {
    background: #000eda;
    color: white;
  }
}

.btn-outline-blue {
  border: 1px solid $blue;
  color: $blue;
  &:hover {
    color: white;
    background: $blue;
  }
}

.btn-primary {
  background: $black2;
  border-color: $black2;
  color: $white;

  &:active {
    background: $black !important;
    border-color: $black2;
  }
  &:hover {
    border-color: $black2;
    background: $grey;
    color: $white;
  }
  &:focus {
    background: $black;
  }

  &.dropdown-toggle {
    &:focus {
      background: $grey !important;
    }
  }
}

.btn-outline-primary {
  background: $white;
  border: $border-width solid $black2;
  color: $black2;

  &:hover, &:focus {
    background: $black !important;
    border: $border-width solid $black2;
    color: $white !important;
  }
}


.btn-yellow {
  background: $yellow;
  border: $border-width solid $yellow;
  color: $black2;

  &:hover {
    background: $yellow;
    color: $black2;
    border: $border-width solid $black2;
  }
}

.card {
  border: none;
  border-radius: $card-border-radius;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  margin-bottom: 20px;
}

.card-img-top {
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

.card-columns { column-count: 1; }

@media (min-width: 576px) {
  .card-columns { column-count: 2; }
}
@media (min-width: 768px) {
  .card-columns { column-count: 3; }
}

.select2-container .select2-selection--single{
  height: 40px;
  border: 1px solid $grey2;
  border-radius: $card-border-radius;
  padding-left: 10px;
}

.select2-container .select2-selection--multiple{
  border: 1px solid $grey2;
  border-radius: $card-border-radius;
  padding-left: 7px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  height: unset;
  left: unset;
  margin-left: unset;
  margin-top: unset;
  width: unset;
  position: absolute;
  top: 50%;
  right: 15px;
}

td {
  max-width: 255px;
  overflow: auto;
}

.pagination a, .pagination span.current, .pagination span.gap {
  border: $border-width solid $grey2;
  border-radius: $card-border-radius;
  float: left;
  line-height: 38px;
  margin: 2px;
  padding: 0 14px;
  text-decoration: none;
  &:hover {
    background-color: $grey3;
  }
}

.pagination {
  .current {
    background: $black;
    color: $white;
  }
}

.circle {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.bubble {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

footer {
  h5 {
    border-bottom: 1px solid white;
  }
}

.bg-black {
  background: $black;
}

.bg-black2 {
  background: $black2;
}

.bg-black3 {
  background: $black3;
}

.link-white {
  a {
    color: white;
  }
}

.bg-yellow {
  background: $yellow2;
}

.bg-red {
  background: #FF3D2B;
}

.bg-green {
  background: $green;
}

.bg-grey {
  background-color: $grey;
}
.bg-grey2 {
  background-color: $grey2;
}
.bg-grey3 {
  background-color: $grey3;
}

.bg-blue {
  background: $blue;
}
