/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

body {
  background-color: #F9F9F9;
  color: #333;
  font-family: 'IBM Plex Sans', sans-serif;
}

nav{
  border-bottom: 1px solid #ccc;
}

/* Tiles use bootstrap borders, but need to change when they collaps on md- sizes */
.tile-first{
  border-bottom: 1px solid black;
}
@media (min-width: 768px){
  .tile-first{
    border: none;
    border-right: 1px solid black;
  }
}

/* Apply the img-fluid class on all images, because many images are injected from the blog text */
img{
  max-width: 100%;
  height: auto;
}

.btn{
  border-radius: 0;
}

.btn:hover{
  color: white;
  background: #555;
}

.btn-primary{
  background: #222;
  color: white;
  border: 0px;
}

.btn-primary:active{
  background:black !important;
}

.btn-primary:focus{
  background:black;
}

td{
  max-width:255px;
  overflow: auto;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
  margin-bottom: 10px;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

