/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//= require 'actiontext'

$black: #000;
$black2: #222;
$black3: #333;
$grey: #555;
$grey2: #ddd;
$white: #fff;

body {
  //background-color: #F9F9F9;
  color: $black3;
  //font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}

a {
  color: $black2;
  &:hover {
    color: $black2;
  }
}
// Fonts
.roboto {
  font-family: 'Roboto', serif;
}

// Tiles use bootstrap borders, but need to change when they collaps on md- sizes
.tile-first {
  border-bottom: 1px solid $black;
}

@media (min-width: 768px){
  .tile-first {
    border: 0;
    border-right: 1px solid $black;
  }
}

// Apply the img-fluid class on all images, because many images are injected from the blog text
img {
  height: auto;
  max-width: 100%;
}

input{
  border-radius: 0 !important;
}

.btn {
  border-radius: 0;
  min-width: 160px;
}

.btn:hover {
  background: $grey;
  color: $white;
}

.btn-primary {
  background: $black2;
  border: 0;
  color: $white;
}

.btn-primary:active {
  background: $black !important;
}

.btn-primary:focus {
  background: $black;
}

.btn-outline-primary {
  background: $white;
  border: 1px solid $black2;
  border-radius: 20px;
  color: $black2;
}

.btn-outline-primary:hover {
  background: $black !important;
  border: 1px solid $black2;
  color: $white !important;
}

.card {
  border: 1px solid #222;
  border-radius: 0;
}

.card-columns { column-count: 1; }

@media (min-width: 576px) {
  .card-columns { column-count: 2; }
}
@media (min-width: 768px) {
  .card-columns { column-count: 3; }
}

.select2-container .select2-selection--single{
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  height: unset;
  left: unset;
  margin-left: unset;
  margin-top: unset;
  width: unset;
  position: absolute;
  top: 50%;
  right: 15px;
}

td {
  max-width: 255px;
  overflow: auto;
}

.pagination a, .pagination span.current, .pagination span.gap {
  background-color: $white;
  border: 1px solid $grey2;
  border-left-width: 0;
  float: left;
  line-height: 38px;
  padding: 0 14px;
  text-decoration: none;
}

.pagination {
  border-left: 1px solid $grey2;
  margin: 5px 0;

  .first {
    border: 0;
    float: none;
    padding: 0;
  }

  .prev {
    border: 0;
    float: none;
    padding: 0;
  }

  .page {
    border: 0;
    float: none;
    padding: 0;
  }

  .next {
    border: 0;
    float: none;
    padding: 0;
  }

  .last {
    border: 0;
    float: none;
    padding: 0;
  }
}

.circle {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.bubble {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.bg-yellow {
  background: #FFBE02;
}

.bg-red {
  background: #FF3D2B;
}

.bg-green {
  background: #0D8055;
}

.bg-blue {
  background: #002CBA;
}
