<ul>
  <% stuff.each do |item| %>
    <li>
      <% if item.children.present? %>
        <%= item.name %> (<%= item.children.count %>)
        <%= render partial: 'child', object: item.children, as: :stuff %>
      <% else %>
        <%= item.name %>
      <% end %>
    </li>
  <% end %>
</ul>
