<div class="container my-5">

  <h1>Taxonomies tree</h1>

  <ul>
    <% @taxonomies.each do |t| %>
      <li>
        <% if t.children.present? %>
          <%= t.name %> (<%= t.children.count %>)
          <%= render partial: 'child', object: t.children, as: :stuff %>
        <% else %>
          <%= t.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
