<% if company&.is_verified? %>
<% else %>
  <div class="alert alert-warning" role="alert">
    <i class="bi bi-patch-check"></i>
    <%= t 'application.company_not_visible_until_verified' %>
  </div>
<% end %>

<% if company&.soft_delete %>
  <div class="alert alert-danger mt-3" role="alert">
    <i class="bi bi-trash"></i>
    <%= t 'application.company_marked_soft_delete' %>
  </div>
<% end %>
