<div class="p-4 mt-5 position-fixed" style="top:0; right:0; width: 350px; z-index:1010;">
  <% flash.each do |type, message| %>
    <div class="toast bg-light" data-toggle="toast" data-delay="7500" style="opacity:0.8">
      <div class="toast-header">
        <strong class="mr-auto">Notification</strong>
        <button class="close" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
          <%= message %>
      </div>
    </div>
  <% end %>
</div>
