<div class="row pt-4 text-center">
  <div class="col-12 p-5">
    <h1>How Make Works works</h1>
    <p>
      We realised that if we made it easier to find and understand local manufacturers,
      people would start to make work with them.
      Make Works is an open access directory of fabricators, material suppliers,
      work-shops and manufacturers.
      It is free to use, and free to be listed.
    </p>
    <%= link_to "Find out why here", "/" %>
  </div>

  <div class="col-md-4 d-flex justify-content-center mb-4">
    <div class="bubble bg-yellow d-flex flex-column justify-content-center">
      <h3>Explore</h3>
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center mb-4">
    <div class="bubble bg-red d-flex flex-column justify-content-center">
      <h3>Match</h3>
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center mb-5">
    <div class="bubble bg-green d-flex flex-column justify-content-center">
      <h3>Contact</h3>
    </div>
  </div>
</div>
