<div class="row pt-4 text-center">
  <div class="col-12 p-5">
    <h1>Comment fonctionne Make Works</h1>
    <p>
      Nous nous sommes rendu compte que si nous facilitions la recherche et la compréhension des fabricants locaux, les gens commenceraient à travailler avec eux.
      Make Works est un répertoire en libre accès de fabricants, fournisseurs de matériaux et ateliers.
      C'est libre d'utilisation et libre d'être répertorié.
    </p>
    <%= link_to "Find out why here", "/" %>
  </div>

  <div class="col-md-4 d-flex justify-content-center mb-4">
    <div class="bubble bg-yellow d-flex flex-column justify-content-center">
      <h3>Explore</h3>
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center mb-4">
    <div class="bubble bg-red d-flex flex-column justify-content-center">
      <h3>Match</h3>
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center mb-5">
    <div class="bubble bg-green d-flex flex-column justify-content-center">
      <h3>Contact</h3>
    </div>
  </div>
</div>
