<% if the_bool  %>
  <li class="font-weight-bold">
    <%= render partial: 'checkbox'%>
    <%= the_text %>
  </li>
<% else %>
  <li class="text-muted">
    <span style='padding:10px;'> </span>
    <%= the_text %>
  </li>
<% end %>
