<div class="border border-dark my-5">
  <div class="row">

    <div class="col-lg-6">
      <div class="p-4">
        <%= link_to blogs_url do %>
          <h2 class="mt-2 mb-5 font-weight-bold">Visit our Make Works Blog to get inspired</h2>
        <% end %>

        <div class="mb-4">
          <%= link_to blogs_url do %>
          <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
          </svg>
          <% end %>
        </div>

        <p>
        Here we share stories about our network and everything we do. Explore the work of local manufacturers, designers, people who make, create and collaborate. 
        </p>

        <p>
        Find useful “how to’s” and insighs about materials, processes and machines. 
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <%= image_tag('DDMP_plasticforgood_7.jpg', alt: 'Plastic for good', class: 'img-fill') %>
    </div>

  </div>
</div>
