<div class="row border-top border-dark pt-4">
  <div class="col p-5">
    <h1 class="text-center mb-5">Make Works Blog</h1>

    <div class="row border border-dark">

      <div class="col-md-3 tile-first p-4">
        <h4>Interested?</h4>
        <p>
        Here you can find more information about our regions, manufacturers,
        making and explore talented people from around the globe.
        </p>
      </div>
      <div class="col-md-5 tile-first p-4 d-flex flex-column justify-content-between">
        <h2>Make Works guide for Easter</h2>
        <p>This year..</p>
      </div>
      <div class="col-md-4 p-4">
        Image
      </div>

    </div>
  </div>
</div>
