<div class="border border-dark my-5">
  <div class="row">

    <div class="col-lg-6">
      <div class="p-4">
        <h2 class="mt-2 mb-5 font-weight-bold">Visit our Make Works Blog to get inspired</h2>

        <div class="text-center mb-4">
          <div class="circle bg-white border border-dark d-flex flex-column justify-content-center">
            icon
          </div>
        </div>

        <p>
        Here we share stories about our network and everything we do. Explore the work of local manufacturers, designers, people who make, create and collaborate. 
        </p>

        <p>
        Find useful “how to’s” and insighs about materials, processes and machines. 
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <%= image_tag('DDMP_plasticforgood_7.jpg') %>
    </div>

  </div>
</div>
